html,body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #EFEEE8;
    background: #EFEEE8;
    color: #181820;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

/* navigation top */
nav {
    padding-top: 15px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    text-transform: uppercase;
}

nav ul button {
    cursor: pointer;
    height: 1.5rem;
    color: #181820;
    background: #EFEEE8;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    outline: none;
}

nav ul a, a {
    text-decoration: none;
    color: #181820;
    
}

hr {
    background: #181820;
    height: 1px;
    border: none;
    width: 90%;
    margin: 10px auto;
}

.active {
    background: #181820;
    color: #EFEEE8;
}

#nav-mobile {
    display: none;
}


/* main */

#intro {
    color: #EFEEE8;
    background-image: url(what-the-hex-dark.png);

}
h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: normal;
}

h2 {
    font-weight: normal;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
}

span {
    font-size: 2rem;
}

main {
    width: 100%;
    margin: 0 auto;
    font-size: 1.4rem;
}

main section {
    padding: 7.5rem;
}

#who-i-am {
    color: #181820;
    padding: 3rem;
}

#photo-text {
    display: flex;
    justify-content: space-between;
}

#photo-text p {
    max-width: 40%;
}

img {
    max-width: 40%;
    filter: grayscale(0.9);
    align-self: center;
}

img:hover {
    filter: grayscale(0.4);
}

p {
    align-self: center;
}

#technologies {
    background-image: url(what-the-hex-dark.png);
    color: #EFEEE8;
    margin-top: 3rem;
    padding: 3rem;
}

#technologies article{
    display: flex;
    justify-content: space-between;
    font-size: 5rem;
}

#write-me {
    background-image: url(what-the-hex-dark.png);
    color: #EFEEE8;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: 3rem;
}

#write-me button{
    display: block;
    margin: 1.5rem auto;
    cursor: pointer;
    background: #EFEEE8;
    color: #181820;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    outline: none;
    height: 40px;
    width: 200px;
    border-radius: 10px;
}

input {
    width: 200px;
    display: block;
    margin: 0 auto 1.5rem auto;
    height: 25px;
    background: #EFEEE8;
    border: none;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    outline: none;
}

textarea {
    width: 200px;
    margin: 0 auto;
    border: none;
    background: #EFEEE8;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    outline: none;
}

p i {
    font-size: 3rem;
}

/* footer */
footer {
    padding-top: 2.5rem;
}

#button-up {
    width: 100%;
    background: #EFEEE8;
    color: #181820;
    border: none;
    font-size: 3rem;
    margin-bottom: 4rem;
    cursor: pointer;
    transition: background-color 1s ease;
}

#button-up:hover {
    background: #181820;
    color: #EFEEE8;
    
}

footer #links {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    outline: none;
}

footer #links a {
    margin: 1rem;
}

footer ul li a {
    transition: color 1s ease;
    /* transition: color 1s ease; */
}

footer ul li:hover, footer ul li a:hover {
    background: #181820;
    color: #EFEEE8;
}

footer ul {
    text-align: center;
    list-style: none;
    font-size: 1.5rem;
    padding: 2rem;
    text-transform: uppercase;
}

#footer-last {
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 1px;
    background-image: url(what-the-hex-dark.png);
    color: #EFEEE8;
    padding: 2rem;
}



@media only screen and (max-width: 750px) {
    html, body {
        font-size: 10px;
    }
    #photo-text {
        display: block;
    }
    #photo-text img {
        max-width: 80%;
        margin: 2rem;
    }

    #photo-text p {
        max-width: 80%;
        margin: 2rem;
        text-align: center;
        line-height: 2.5rem;
    }
    #nav-footer a {
        font-size: 2.5rem;
    }

    #nav {
        display: none;
    }

    #nav-mobile {
        display: block;
        margin: 0 auto;
    }
    
    #button-mobile-nav {
        display: block;
        margin: 0 auto;
        font-family: 'Quicksand', sans-serif;
        color: #181820;
        background: #EFEEE8;
        height: 5rem;
        border: none;
        font-weight: bold;
        font-size: 2rem;
        outline: none;
        cursor: pointer;
    }

    h1 {
        font-size: 3rem;
    }

    #links a {
        font-size: 5rem;
    }
}
